.pricingBox {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2em 2em;
  font-weight: 500;
  height: 80dvh;
  position: relative;
  top: 0;
}
.pricingBtnDown {
  position: absolute;
  bottom: 0;
  width: calc(100% - 4em);
  padding-bottom: 1em;
}

.fullWidth {
  width: 100%;
}
